:root{
--header-color: #2E2F42;
--address-color: #434455;
--link-color: #4D5AE5;
--footer-studio: #F4F4FD;
--hover-color: #404BBF;
--header-studio: #2E2F42;
--header-btn: #FFFFFF;
--background-header: #FFFFFF;
--background-btn-portfolio: #404BBF;
--background-our-team: #FFFFFF;


}

.list{
    list-style: none;
     }
        
.link{
    text-decoration: none;
    }


body{
    font-family: 'Roboto', sans-serif;
    color: var(--address-color);
    background-color: #FFFFFF;
}


p,
h1,
h2,
h3,
h4,
h5,
h6{
margin: 0;
}

ul,
ol{
    margin: 0;
    padding: 0;
}

.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
   
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


/**-----------------HEADER--------------**/

.header{
    border-bottom: 1px solid #E7E9FC;
}
.header-logo{
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
text-transform: uppercase;
letter-spacing: 0.03em;
color: var(--link-color);
margin-right: 76px;
display: inline-block;
}



.header-container{
    display: flex;

}

.header-navigation{
    display: flex;
    align-items: center;
}

.header-list{
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-link{
    padding: 24px 0;
    display: block;
}

.header-link:focus ,.header-link:hover{
    color: var(--hover-color);
}
    
.address-flex{
    display: flex;
    gap: 40px;
    align-items: center;
}


.header-address-link:focus ,.header-address-link:hover{
    color: var(--hover-color);
}
  
.header-address{
    margin-left: auto;
}
.header-studio{
color: var(--header-studio);
}





.header-link{
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.15;
line-height: 1.5;
letter-spacing: 0.02em;
letter-spacing: 0.02em;
color: var(--header-color);
}

.header-address-link{
font-family: 'Roboto';
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: var(--address-color);
padding: 24px 0;
display: block;
}






/**-----------------MAIN--------------**/



.headline-section{
    background: var(--header-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1440px;
    height: 600px;
    margin: 0 auto;
    padding: 188px 0;

}


.div-section{
    background: #F4F4FD;
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-section{

}

.main-section{
    display: flex;
    gap: 24px;
}

.main-section-one{
padding-top: 120px;
padding-bottom: 120px;
}


.main-list-item{
    width: calc((100% - 72px)/ 4);

}
.main-h{
font-family: 'Roboto';
font-size: 56px;
line-height: 1.20;
text-align: center;
letter-spacing: 0.02em;
line-height: 1.07;
color: #FFFFFF;
max-width: 496px;
margin: 0 auto;
}

.main-btn{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.150;
color: #FFFFFF;
cursor: pointer;
line-height: 1.5;
letter-spacing: 0.04em;
background: #4D5AE5;
margin: 0 auto;
display: block;
margin-top: 48px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
border: none; 
border-radius: 4px;
}

.main-btn:hover, .main-btn:focus{
background-color: var(--background-btn-portfolio);
}



.main-htree{
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--header-color);
}

.main-main{
margin-bottom: 8px; 
}

.main-p{
font-family: 'Roboto';
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: var(--address-color);
min-width: 264px;
}

.main-list{
font-family: 'Roboto';
font-size: 36px;
line-height: 1.11;
text-align: center;
text-transform: capitalize;
letter-spacing: 0.02em;
color: var(--header-color);
margin-bottom: 72px;
}


.team-soc {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.team-item {
    width: 40px;
    height: 40px;
    
}
.team-soc-link {
    width: 100%;
    height: 100%;
    background: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
}

.team-soc-link:focus, .team-soc-link:hover{
    background-color:var(--hover-color);
}

.team-soc{

}


.main-displey{
display: flex;
gap: 24px;

 }

.section-foto{
padding-bottom: 120px;
}

.background{
background: #F4F4FD;
padding-bottom: 120px;
padding-top: 120px;

}
 
.main-color{
color: #F4F4FD;
background-color: #2E2F42; 
 }

.last{
display: flex;
gap: 24px;

}

.main-div{
padding: 32px 16px;
}

.main-item{
font-family: 'Roboto';
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
max-width: 264px;
margin-top: 8px;
margin-bottom: 8px;
}


.team-htree{
margin-bottom: 8px
}


.our-team-section{
    background-color: var(--background-our-team);
    text-align: center;
    width: calc((100% - 72px)/4); 
    border-radius: 0px 0px 4px 4px;

}
.foto-list-item{
   width: calc((100% - 48px) / 3); 
}



/**-----------------FOOTER--------------**/


.background-footer{
background: #2E2F42;
padding: 100px 0 
}

.header-studio-two{
color: #F4F4FD;
letter-spacing: 0.03em;
}


.footer-logo{
    margin-bottom: 16px;
    margin-right: 0;
}


.footer-text{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    max-width: 264px;
    }

/**-----------------PORTFOLIO--------------**/
 

.portfolio-btn{
background-color: #F4F4FD;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #4D5AE5;
cursor: pointer;
letter-spacing: 0.04em;
border: 1px solid #E7E9FC;
padding: 12px 24px;
border-radius: 4px;
}

.portfolio-btn:hover, .portfolio-btn:focus{
    background: #404BBF;
    color: #FFFFFF;
    border: 1px solid transparent
}

.portfolio-section{
    padding-top: 96px; 
    padding-bottom: 120px;
}

.list-style{
    list-style: none;
     }
     
     
.link-style{
 text-decoration: none;
 }


.portfolio-button{
display: flex;
gap: 24px;
margin: 0 auto;
justify-content: center;

margin-bottom: 72px;
 }
 

.portfolio-foto{
display: flex;
flex-wrap: wrap;
gap: 48px 24px;
padding-bottom: 120px;
 }



.portfolio-style{
    width: calc((100% - 48px) / 3); 
 }


.portfolio-link{

 }
.portfolio-htree{
    margin-bottom: 8px
}

.portfolio-div{
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 16px;
 }


.portfolio-p{
    
 }

 img{
    display: block;
 }